table {
  width: 100%;
}

tr {
  text-align: center;
}
  
.button-add {
  margin: 20px; 
  text-align: center;
}

tr > th {
  background-color: rgb(214, 214, 216);
}

.img-responsive {
  width: 50px;
  height: 50px;
}