<div class="container" novalidate> 
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="button-add">
        <button mat-raised-button color="warn" (click)='openDialog()'>Add Products</button>
      </div> 
      
      <table class="table table-sm">
        <tr >
          <th>Name</th>
          <th>Price</th>
          <th>Description</th>
        </tr>
        <tr *ngFor="let products of productsList">
          <td>{{products.name}}</td>
          <td>{{products.price}}</td>
          <td>{{products.description}}</td>
    
            <button mat-stroked-button color="warn" (click)="onEdit(products)">Edit</button>
            <button mat-stroked-button color="warn" (click)="onDelete(products.key)">Delete</button>
        </tr>
      </table>
    </div>
  </div>
</div>
    
          
