<div class="container" novalidate> 
  <div class="row justify-content-center">
    <div class="col-4">
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form_signup">

      <mat-form-field class="form-element_signup">
        <input matInput placeholder="Email" formControlName="email" >
          <mat-error *ngIf="!formGroup.controls['email'].valid && formGroup.controls['email'].touched">
           {{ getErrorEmail() }}
          </mat-error>
      </mat-form-field>
 
      <mat-form-field class="form-element_signup">
        <input matInput placeholder="Password" formControlName="password" type="password">
          <mat-error *ngIf="!formGroup.controls['password'].valid && formGroup.controls['password'].touched">
            {{ getErrorPassword() }}
          </mat-error>
      </mat-form-field>

        <div class="form-element_signup">
          <button mat-raised-button color="primary" type="submit" class="button_signup" [disabled]="!formGroup.valid">Sign up</button>
        </div>
      </form>    
    </div>
  </div>
</div>

