
<div class="container content-wrapper">

  <div class="search">
    <mat-form-field>
      <input matInput type="text"  [(ngModel)]="term" placeholder="Search">
    </mat-form-field>
  </div>

  <div class="sort">
    <button mat-raised-button type="button" (click)="sort()">Sort by price<i class="material-icons">
        swap_vert
    </i></button>
  </div>
</div>

<div class="container">

<mat-card class="example-card" *ngFor="let products of productsList | filter:term | sort: {property: column, order: order}">
  <mat-card-header>
    <mat-card-title >{{products.name}}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    Price: {{products.price}} USD
    <img [src]="products.imagePath" alt="{{ products.imagePath }}" class="img-responsive">
  </mat-card-content>

  <mat-card-actions class="button">
    <hr>
    <button mat-button color="warn" (click)="add(products)"> <i class="material-icons">
      favorite
      </i></button>
    <button mat-button color="warn" (click)="addToCart(products)"><i class="material-icons">
      shopping_cart
      </i></button>
  </mat-card-actions>
</mat-card>
</div>
