<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <div class='menu'>
        <button mat-button [matMenuTriggerFor]="products"><a routerLink='' routerLinkActive='active'>Products</a></button>
        <button mat-button [matMenuTriggerFor]="favourite"><a routerLink='' routerLinkActive='active'></a>Favourite</button>
        <button mat-button [matMenuTriggerFor]="cart"><a routerLink='' routerLinkActive='active'></a>Cart</button>
        <button mat-button [matMenuTriggerFor]="signin"><a routerLink='/signin' routerLinkActive='active'>SignIn</a></button>
      </div>
    </div>
  </div>
</div>
