<div class='menu'>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <button mat-button ><a routerLink='/products'>Products</a></button>
        <button mat-button><a routerLink='/favourite'>Favourite<sup> {{favouriteService.navbarFavProdCount}}</sup></a></button>
        <button mat-button><a routerLink='/cart'>Cart<sup> {{cartService.navbarCartCount}}</sup></a></button>

        <ng-template [ngIf]="!authService.isAuthenticated()">
          <button mat-button><a routerLink='/signin' routerLinkActive='active'>Register/Login</a></button>
        </ng-template>

        <button mat-button><a routerLink='/admin-products'  routerLinkActive='active' *ngIf="authService.user | async" >Admin Panel</a></button>
       <button mat-button><a routerLink='/products' (click)="onLogout()"  *ngIf="authService.user | async">Logout</a></button>

        <ul class='nav navbar-brand navbar-right'>
          <a *ngIf="authService.user | async">{{ (authService.user | async)?.email }}</a>
        </ul>
      </div>
    </div>
  </div>
</div>




