<form #productsForm="ngForm"  >
  <p>Add new products</p>
    <div class="container">
      <input type="hidden" name="key" key="ngModel" [(ngModel)]="adminProductsService.selectedProducts.key">

      <div class="form-group">
        <mat-form-field>
          <input matInput  name="name"  [(ngModel)]="adminProductsService.selectedProducts.name" placeholder="Product" required>
        </mat-form-field>
      </div>
    
      <div class="form-group">
        <mat-form-field>
          <input matInput class="form-control" name="price"  [(ngModel)]="adminProductsService.selectedProducts.price" placeholder="Price">
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <input matInput class="form-control" name="description"  [(ngModel)]="adminProductsService.selectedProducts.description" placeholder="Description">
        </mat-form-field>
      </div>

      <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancel</button>
        <button mat-button  cdkFocusInitial (click)="onSubmit(productsForm)">Add</button>
      </div>
    </div>
</form>

